<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
</head>
<body>
    <h1>Create New Post</h1>
    <form action="/posts" method="post">
        <div>
            <input type="text" name="username" placeholder="enter username"><br><br>
            <textarea name="content" id="content" rows="5" cols="35"></textarea><br><br>
            <button type="submit">Create Post</button>
        </div><br><br>
        <b><a href="/posts">Back to All Posts</a></b>
    </form>
</body>
</html>